<script src="/assets/js/jquery-2.0.2.min.js"></script>


<script type="text/javascript" src="{{ "/assets/js/jquery.fitvids.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/index.js" | prepend: site.baseurl  }}"></script>
<script type="text/javascript" src="{{ "/assets/js/readingTime.min.js" | prepend: site.baseurl  }}"></script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>


<script>
(function ($) {
  "use strict";
  $(document).ready(function(){

    var $window = $(window),
    $image = $('.post-image-image, .teaserimage-image');
    $window.on('scroll', function() {
      var top = $window.scrollTop();

      if (top < 0 || top > 1500) { return; }
      $image
        .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
        .css('opacity', 1-Math.max(top/700, 0));
    });
    $window.trigger('scroll');

    var height = $('.article-image').height();
    $('.post-content').css('padding-top', height + 'px');

    $('a[href*=#]:not([href=#])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
       && location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({ scrollTop: target.offset().top }, 500);
          return false;
        }
      }
    });

    // take care of the more-posts-button
    var morePostsButton = $("#morePostsPlusButton")
    var morePosts = $("#morePostsPanel")
    var morePostsCloseButton = $("#morePostsCloseButton")

    morePostsButton.on('click', function() { 
      morePostsButton.toggle(0)
      morePosts.slideToggle();
    });
    morePostsCloseButton.on('click', function() {
      morePosts.toggle(0);
    morePostsButton.toggle(0);
    })

  });
}(jQuery));
</script>

{% if page.sliders %}
  <!-- bxSlider Library  -->
  <script src="/assets/js/jquery.bxslider.min.js"></script>
  <script>
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      mode: 'fade'
    });
  });
  </script>
{% endif %}


<script>
$(document).ready(function(){
  $("#morePostsPlusButton").on('click', function(){
    ga('send', 'event', 'MorePosts', 'plus-button-clicked');
  });
  $("#morePostsCloseButton").on('click', function(){
    ga('send', 'event', 'MorePosts', 'close-button-clicked');
  });
  $("#morePostsPanel a").on('click', function() { 
    ga('send', 'event', 'MorePosts', 'link-clicked', $(this).attr('href'));
  });

});

</script>
